//colors
$color_0: rgba(31, 44, 108, 0.65);
$color_1: rgba(0, 0, 0, 0.55);
$color_2: white;
$color_3: rgba(0, 0, 0, 0.16);
$color_4: rgba(0, 0, 0, 0.23);
$color_5: whitesmoke;
$color_6: rgba(0, 0, 0, 0.082);
$color_7: #1f2c6c;
$color_8: #3c4172;
$color_9: #f0f3f5;
$color_10: #43485c;
$color_11: rgba(14, 25, 80, 0.3);
$color_12: rgba(30, 30, 30, 0.1);
$color_13: lightgrey;
$color_14: rgba(0, 0, 0, 0.3);
$color_15: ghostwhite;

//fonts
$font_0: Poppins;
$font_1: Lato;
$font_2: Tahoma;
$font_3: sans-serif;
$font_4: Kaushan Script;

//urls
$url_0: url(https://picsum.photos/id/381/1920/1080);
